>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">merhaba,</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">dünyayı ele geçirme planlarımın ilk bölümü</a></h2>
            <p>Çok heyecanlıyım! dünyayı ele geçireceksem artık bilgisayar başından kalkmam. </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:20</p>
            <h2><a href="">İkinci gönderim</a></h2>
            <p>daha sonra da Mars ve satürn'ü ele geçirmeyi düşünüyorum.Sizce Mars çok sıcak olur mu? yanıma palto alıyım mı?</p>

            <h1>DÜnyayı ele geçirirken ölümcül lazeler mi? vahşi kedileri mi? yoksa tost makinelerini kullanıyım?</h1>
        cevap bekliyorum...

